.login-form {
height:100%;
width:100%;
background-color:olivedrab;
display:flex;
flex-direction: column;
justify-content:center;
align-content: center;
margin:auto;
text-align:center;

}

input {
    background-color: rgb(211, 248, 234);
    border:3px solid black;
    margin-top:5px;
    margin-bottom:5px;
    height:50px;
    width: 260px;
    border-radius:10px;

}