.header-component{
    font-size:2rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:yellow;
    font-family:cursive;
    text-align:center;
    background-color: rgba(0,0,0,0.7);
}

.footer-component{
    font-size:2rem;
    background-color: rgba(0,0,0,0.7);
}