.nav-bar {
    background: linear-gradient(to left, #fee378 15%, #1f1908 35%);
    border-bottom:2px solid;
    border-top:2px solid;
    z-index:15;
}

.brand {
    color: #b3a670;
    font-size:1.6rem;
    transition: 0.2s;
    font-family: 'Lora', serif;
    /* font-style:italic; */
}

.brand:hover {
    color:#fce9a0;
}

.nav-link {
    color: black;
    font-family: 'Lora', serif;
    text-shadow: -1px 0 #b3a670, 0 1px #b3a670, 1px 0 #b3a670, 0 -1px #b3a670;
}

.logo {
    height: 4%;
    width:4%;
    margin-right: 15px;

}

@media only screen and (max-width: 768px) {

    .logo {
        display:none;
    }

    .nav-link {
        color:#b3a670;
    }
}

