.nav-bar {
    background: linear-gradient(to left, #fee378 15%, #1f1908 35%);
    border-bottom:2px solid;
    border-top:2px solid;
    z-index:15;
}

.brand {
    color: #b3a670;
    font-size:1.6rem;
    transition: 0.2s;
}

.brand:hover {
    color:#fce9a0;
}